<HTML>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="map" style="height:600px;"></div>
    <div>
        <h1>Source</h1>
        <div>
            Latitude: 
            <input type="text" name="item" id="source_lat" value="" />
            <br>
            Longitude: 
            <input type="text" name="item" id="source_lon" value="" />
        </div>
        <button id="get_source_gis" type="submit">取得位置</button>
    </div>

    <div>
        <h1>Target</h1>
        <div>
            Latitude: 
            <input type="text" name="item" id="target_lat" value="" />
            <br>
            Longitude: 
            <input type="text" name="item" id="target_lon" value="" />
        </div>
        <button id="get_target_gis" type="submit">取得位置</button>
    </div>
    <br>
    <button id="gis_submit" type="submit">開始Routing</button>    

    <script type="text/javascript">
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'sheucm.cif6giigi0hicsykulk9diotp',
            accessToken: 'pk.eyJ1Ijoic2hldWNtIiwiYSI6ImNpZjZnaWp5MzA5eWR0YW01Mm40cjB6c3cifQ.PEV8DDuHbEGVskBrPrGnKA'
        }).addTo(map);

        map.setView(new L.LatLng(22.996870, 120.213572), 12);

        var marker;
        var marker_lon = 0.0;
        var marker_lat = 0.0;
        function onMapClick(e) {
            //alert("You clicked the map at " + e.latlng.lat);
            if (marker != null)
                map.removeLayer(marker);
            marker = L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
            marker_lon = e.latlng.lng;
            marker_lat = e.latlng.lat;
        }
        map.on('click', onMapClick);

        var source_marker;
        $('#get_source_gis').click(function() {
            if (source_marker != null)  
                map.removeLayer(source_marker);
            source_marker = new L.marker([marker_lat,marker_lon]).addTo(map);;
            $('#source_lat').val(marker_lat);
            $('#source_lon').val(marker_lon);
        });

        var target_marker;
        $('#get_target_gis').click(function() {
            if (target_marker != null)  
                map.removeLayer(target_marker);
            target_marker = new L.marker([marker_lat,marker_lon]).addTo(map);;
            $('#target_lat').val(marker_lat);
            $('#target_lon').val(marker_lon);
        });

        $('#gis_submit').click(function() {
            var submit_data = {"source_lon": $('#source_lon').val(), "source_lat": $('#source_lat').val(), "target_lon": $('#target_lon').val(), "target_lat": $('#target_lat').val()};
            var data = null;
            $.ajax({
                type: "GET",
                url: '/do_routing/',
                data: submit_data,
            })
            .done(function(geojsonFeature) {
                alert("成功");    
                L.geoJson(geojsonFeature).addTo(map);
            })
            .fail(function() {
                alert("失敗");
            });

            

        });

    </script>
</body>
</HTML>